################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MancalaEngine/v16
/.vscode/solution-explorer
/MancalaEngine.Tests/bin/Debug/netcoreapp2.2
/MancalaEngine.Tests/obj
/MancalaEngineLib/bin/Debug/netstandard2.0
/MancalaEngineLib/obj
